
extends layout
block content
    head
        title 'QBO Data'
    body
        a(href="/importdata/accounts") Import customer data
        p br
        a(href="/importdata/customers") Testing routes, coz boo postman



